/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* Simple resets */
body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    font-size: 14px;
    position: relative;

}
ul,p, h1 {
    padding: 0;
    margin: 0;
    list-style: none;
}

section.welcome {
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
    background-color: #AACCFF;
    padding-top: 10px;
    border-bottom: 1px solid #000099;
}

section.welcome h1,
section.welcome p
{
    margin-left: 10px;
    color: #000099;
}

section.welcome form {
    position: absolute;
    top: 10px;
    left: 500px;
}

section.welcome label {
    display: block;
    width: 200px;
    float: left;
}

section.welcome input {
    border: 1px solid #3366AA;
    margin-bottom: 4px;
    width: 250px;
}

section.userList {
    display: block;
    float: left;
    width: 200px;
    height: 400px;
    background-color: #3366AA;
    overflow: auto;
}

section.userList li {
    margin-left: 5px;
    color: #FFFFFF;
}

section.userList img {
    width: 25px;
    margin-right: 5px;
}

section.messages {
    display: block;
    float: left;
    width: 800px;
    height: 400px;
    overflow: auto;
}

section.messages li {
    width: 760px;
    height: 95px;
    margin: 10px;
    border: 1px solid black;
    background-color: #EEEEFF;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding-bottom: 5px;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');    
}

section.messages li img {
    margin: 10px 10px 0 10px;
    float: left;
}

section.messages span.nickName {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

section.messages time {
    font-size: small;
    font-style: italic;
}

section.messages p {
    margin-top: 10px;
}

section.inputArea input {
    width: 796px;
    border: 1px solid #000099;
}