/* Simple resets */
body {
    margin: 0;
    height: 100%;
    background: grey;
    font-family: sans-serif;
    font-size: 14px;

}
ul,p, h1 {
    padding: 0;
    margin: 0;
    list-style: none;
}

.template {
    display: none !important;
}

